<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IoT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="IoTResourceCatalogue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="appSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <loadFromRemoteSources enabled="true"/>
  </startup>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>

  <applicationSettings>
    <IoT.Properties.Settings>
      <setting name="IoTSmartControlPoint_OntologyManager_ApplicationOntologyManagerService"
        serializeAs="String">
        <value>http://127.0.0.1:8082/axis/services/ApplicationOntologyManagerServiceOSGi</value>
      </setting>
      <setting name="discovertransform" serializeAs="String">
        <value>C:\IoTwwwroot\IoTdevices\resolveDevices_Transform.xsl</value>
      </setting>
      <setting name="IoTSmartControlPoint_BluetoothDiscoveryManagerWS_DiscoveryManagerWS"
        serializeAs="String">
        <value>http://212.214.80.151:8080/BluetoothDiscoveryWS</value>
      </setting>
      <setting name="IoTSmartControlPoint_ApplicationDeviceManager_ApplicationDeviceManager"
        serializeAs="String">
        <value>http://212.214.80.161:8080/ApplicationDeviceManager</value>
      </setting>
      <setting name="usexslfordiscovery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HydraSmartControlPoint_ApplicationDeviceManager_ApplicationDeviceManager"
        serializeAs="String">
        <value>http://212.214.80.161:8080/ApplicationDeviceManager</value>
      </setting>
      <setting name="HydraSmartControlPoint_BluetoothDiscoveryManagerWS_DiscoveryManagerWS"
        serializeAs="String">
        <value>http://212.214.80.151:8080/BluetoothDiscoveryWS</value>
      </setting>
      <setting name="HydraSmartControlPoint_OntologyManager_ApplicationOntologyManagerService"
        serializeAs="String">
        <value>http://127.0.0.1:8082/axis/services/ApplicationOntologyManagerServiceOSGi</value>
      </setting>
      <setting name="IoTEntityMappingFolder" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="convertupnpdevicestoiot" serializeAs="String">
        <value>no</value>
      </setting>
      <setting name="resourceloadingpath" serializeAs="String">
        <value>http://ismb017.polito.it:8080/scral/devices/</value>
      </setting>
      <setting name="resourceloadingextension" serializeAs="String">
        <value>/scpd</value>
      </setting>
      <setting name="MQTTServerAddress" serializeAs="String">
        <value>mosquitto</value>
      </setting>
      <setting name="MQTTTopicNewIoTResource" serializeAs="String">
        <value>/IMPRESS/System/NewIoTResource</value>
      </setting>
      <setting name="MQTTTopicRemovedIoTResource" serializeAs="String">
        <value>/IMPRESS/System/ObsoleteIoTResource</value>
      </setting>
      <setting name="MQTTTopicNewIoTEntity" serializeAs="String">
        <value>/IMPRESS/System/NewIoTEntity</value>
      </setting>
      <setting name="MQTTTopicNewIoTAssociation" serializeAs="String">
        <value>/IMPRESS/System/NewAssociation</value>
      </setting>
      <setting name="MQTTTopicRemovedIoTEntity" serializeAs="String">
        <value>/IMPRESS/System/ObsoleteIoTEntity</value>
      </setting>
      <setting name="MQTTObsoleteAssociation" serializeAs="String">
        <value>/IMPRESS/System/ObsoleteAssociation</value>
      </setting>
      <setting name="MQTTServerAddressSave" serializeAs="String">
        <value>mosquitto</value>
      </setting>
      <setting name="SendMQTTEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IoTResourceCatalogueExternalIP" serializeAs="String">
        <value>212.214.80.161</value>
      </setting>
      <setting name="DisableUPnP" serializeAs="String">
        <value>False</value>
      </setting>
    </IoT.Properties.Settings>
    <IoTResourceCatalogue.Properties.Settings>
      <setting name="IoTSmartControlPoint_BluetoothDiscoveryManagerWS_DiscoveryManagerWS" serializeAs="String">
        <value>http://localhost:8080/BluetoothDiscoveryWS</value>
      </setting>
    </IoTResourceCatalogue.Properties.Settings>
  </applicationSettings>
  <appSettings>

    <!-- =====================================================================================================
     IoT Settings:
     Settings for the Discovery process
    ==========================================================================================================-->
    <!-- IoTCreateWSImmediately: set to yes when the IoT device is to be used without any discovery process -->
    <add key="IoTCreateWSImmediately" value="yes"/>
    <!-- wsport: The port that is used for creating the IoT web services, default :8080 -->
    <add key="wsport" value=":8089"/>
    <!-- yes: always bind the published WebServices to 127.0.0.1 -->
    <add key="WSEndPointAlwayLocalHost" value="yes"/>
    <add key="gateway" value=""/>
    <!-- Which services should get an HID registered -->
    <add key="CreateIoTWSHID" value="no"/>
    <add key="CreateDynamicWSHID" value="yes"/>
    <add key="CreateEnergyWSHID" value="no"/>
    <add key="CreateUPnPServiceHIDs" value="no"/>

    <!-- Path to Devicedatabase-->
    <add key="DeviceDBPath" value="."/>
    <!--add key="resourceloadingpath" value="http://ismb017.polito.it:8080/scral/devices/"/-->
    <!--add key="resourceloadingextension" value="/scpd"/-->
    
    <add key="resourcecatalogueport" value="44441"/>
    <add key="servicecatalogueport" value="44442"/>
    <add key="cachescpds" value="no"/>
    
    <add key="resourcesloaded" value="no"/>
    <add key="useogcdatabase" value="no"/>

    <!--add key="remoteogcstorageendpoint" value="http://cnet006.cloudapp.net/SensorThings"/-->
    <add key="remoteogcstorageendpoint" value="http://storagemanager.smat.federation2.almanac-project.eu/SensorThings"/>
    
    <add key="resourceloadingpath" value="./ResourceDB/"/>
    <add key="resourceloadingextension" value=".xml"/>
    <add key="allowxpathformanual" value="yes"/>

    <add key="querymaxdatastreamids" value="200"/>
    <add key="querywaitloops" value="50"/>
    <add key="querythreadsleep" value="200"/>
    <add key="updatemetadataproperties" value="FillLevel,Temperature"/>
    <add key="returnMQTT" value="no"/>

     

    <!-- =====================================================================================================
     Discovery Settings:
     Settings for the Discovery process
    ==========================================================================================================-->

    <add key="usexslfordiscovery" value="no"/>
    <add key="discovertransform" value="ConfigsAndSettings\Xsl\resolveDevices_Transform.xsl"/>
    <add key="callbacktransform" value="ConfigsAndSettings\Xsl\IoT_deviceXML2App.xsl"/>
    <add key="upnpfilters" value="urn:schemas-upnp-org:device:Basic:1,urn:schemas-upnp-org:device:WeightScale:1,urn:schemas-upnp-org:device:MediaServer:1,urn:schemas-upnp-org:device:MediaRenderer:1,urn:schemas-upnp-org:softdevice:WeightScale:1, urn:schemas-upnp-org:medicalsoftIoTdevice:medicaldevice:Weightscale:1, urn:schemas-upnp-org:device:MediaRenderer:1, urn:schemas-upnp-org:device:MediaServer:1, urn:schemas-upnp-org:device:InternetGatewayDevice:1,urn:schemas-upnp-org:device:BinaryLight:1,urn:schemas-wifialliance-org:device:WFADevice:1"/>
    <add key="automaticdiscovery" value="yes"/>
    <add key="automaticresolve" value="yes"/>
    <add key="discoveryresolveperiod" value="60000"/>
    <add key="automaticdevicestorage" value="yes"/>
    <add key="energypolicyenforcement" value="yes"/>
    <add key="removehidsonstop" value="yes"/>
    <add key="externaldiscoveryonly" value="no"/>

    <!-- =====================================================================================================
    Environment Settings:
    Mostly URL:s for different LinkSmart managers
    ==========================================================================================================-->

    <!-- Ontology Manager WS address -->
    <add key="ontologyurl" value="http://127.0.0.1:8082/axis/services/ApplicationOntologyManagerServiceOSGi?wsdl"/>
    <!-- Storage Manager WS address -->
    <add key="storagemanagerurl" value="http://localhost:8082/services/storagemanager"/>
    <!-- Évent Manager WS address -->
    <add key="eventmanagerurl" value="http://127.0.0.1:8124/Service"/>
    <!-- Network Manager WS address -->
    <add key="networkmanagerurl" value="http://localhost:8082/axis/services/NetworkManagerApplication"/>
    <add key="appdevicebindings" value="ConfigsAndSettings\Xsl\applicationbindings.xsl"/>
    <!-- Settings for the SOAP tunnel -->
    <add key="soaptunnelprefix" value="/SOAPTunneling/0/"/>
    <add key="soaptunnelsuffix" value="/0/hola"/>
    <add key="soaptunnelIPaddress" value="127.0.0.1"/>
    <add key="soaptunnelport" value="8082"/>
    <add key="RegisterInNetworkManager" value="false" />
    <add key="RegisterInLSGConnect" value="true"/>
    <add key="DefaultResultType" value="JSON"/><!--- XML | JSON -->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
